//all the media queries
@media only screen and (max-width: 600px) {
	.search__main form {
		width: 100%;
		margin: 0 20px;
	}
	.search__input {
		font-size: 15px;
	}
}
//all the media queries
@media only screen and (max-width: 450px) {
	
	.search__input {
		font-size: 8px;
	}
}

@media only screen and (max-width: 1200px) {
	.videos__list {
		grid-template-columns: repeat(3, 1fr);
		margin: 0 20px;
	}
}

@media only screen and (max-width: 900px) {
	.videos__list {
		grid-template-columns: repeat(2, 1fr);
		margin: 0 20px;
	}
}

@media only screen and (max-width: 680px) {
	.videos__list {
		grid-template-columns: repeat(1, 1fr);
		margin: 0 20px;
	}
}

@media only screen and (max-width: 1200px) {
	.player {
		width: 900px;
	}
}

@media only screen and (max-width: 920px) {
	.player {
		width: auto;
		display: flex;
		flex-direction: column;
		margin: 0 20px;
		&__description p {
			padding-bottom: 50px;
		}
	}
	.player-flex {
		margin-top: 150px;
	}
	@media only screen and (max-width: 500px) {
		.player-flex {
			margin-top: 0px;
		}
	}
}

@media only screen and (max-width: 920px) {
	.player iframe {
		height: 500px;
	}
	.player__description {
		padding: 25px;
		width: 100%;
	}
	@media only screen and (max-width: 500px) {
		.player iframe {
			height: 300px;
		}
	}
}

@media only screen and (max-width: 920px) {
	.close-btn {
		top: 3%;
		left: 90%;
		font-size: 40px;
	}
}

@media only screen and (max-width: 500px) {
	.videos__list {
		grid-template-columns: repeat(1, 1fr);
		margin: 0 20px;
	}
}

@media only screen and (max-width: 680px) {
	li img {
		height: 400px;
	}
}

@media only screen and (max-width: 500px) {
	li img {
		height: 300px;
	}
}

@media only screen and (max-width: 370px) {
	li {
		width: 270px;
	}
	li img {
		height: 250px;
	}
}

@media only screen and (max-width: 300px) {
	.search__input {
		font-size: 8px;
	}
}