@keyframes showbar {
	100% {
		opacity: 1
	}
	100% {
		width: 100%;
	}
}


.showbar {
	animation: showbar .5s both;
	animation-delay: .5s;
	opacity: 0;
	width: 0%;
}

.search {
	&__main {
		padding-top: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		& form {
			width: 66%;
		}
	}
	&__input {
		padding: 12px 0 12px 20px;
		background-color: transparent;
		transition: transform 250ms ease-in-out;
		font-size: 15px;
		line-height: 18px;
		color: #000000e3;
		background-color: rgba(255, 255, 255, 0.705);
		text-transform: uppercase;
		font-weight: 600;
		//background-image: url("../assets/lupa2.png");
		background-repeat: no-repeat;
		background-size: 18px 18px;
		background-position: 95% center;
		border-radius: 50px;
		border: 1px solid #000000;
		&::placeholder {
			color: #0000005d;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			font-weight: 600;
		}
	}
}


@keyframes opacity {
	100% {
		opacity: 1
	}

}

form i {
	position: relative;
	float: right;
	top: -38px;
	left: -17px;
	animation: opacity .5s both;
	animation-delay: 1s;
	opacity: 0;
	cursor: pointer;
	border-radius: 50%;
	padding: 8px;
	

	&:hover{
		background-color: rgba(0, 0, 0, 0.137);
		transition: background-color 1s;
	}
	
	
}

//LOADING ANIMATION
.lds-ring {
    display: none;
    position: absolute;
	
	top: 350px;
    width: 150px;
    height: 150px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid rgb(0, 0, 0);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(0, 0, 0) transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  